body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span {
    color: #d4af37; /* Qızılı rəng */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.btn {
    display: inline-block;
    background-color: #d4af37;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
}
